@import "../commonStyle.css";


#countWrap {
    margin-bottom: 8px;
}

#countBox {
    color: var(--color-main);
}

.i-add-white {
    width: var(--vw-24) !important;
    height: var(--vw-24) !important;
}

.requestTable {
    width: 100%;
    border: none;

}


.requestTable td, .requestTable th{
    width: calc(100%/8);
    height: calc((60/1080) * 100vh);
    text-align: center;
    border: none;
    font-size: var(--font-size-14);

}

.requestTable th{
    background: var(--color-bg-sky);
    border-bottom: 1px solid var(--color-bg-darkGrey);
    top: 0;
    position: sticky;
}

.requestTable tr{
    background: var(--color-white);
    border-bottom: 1px solid var(--color-bg-darkGrey);

}

.requestTable tr:hover{
    background: var(--color-bg-sky);
    transition: .5s;
}

.sticky-th {
    position: sticky;
    top: 0px;
}
/* 결재 상태 */
.state {
    border: 1px solid var(--color-font-md);
    border-radius: 50px;
    padding: var(--vh-8) var(--vw-24);
    color: var(--color-font-md);
}

#record {
    padding: var(--vh-24);
    /*height: calc((718/var(--vh))*100vh);*/
}
.request-btn{
   position: absolute;
    right: 3%;
    top: 15%;
}
#countWrap {
    margin : 1%
}

