@import "../commonStyle.css";

.job-inner {
    display: flex;
    flex-direction: column;
    gap: var(--vh-40);
}
.job-inner-top {
    display: flex;
    gap: var(--vw-24);
    height: calc((276/var(--vh))*100vh);
}
.job-inner-top > section {
    height: 100%;
}
.empl-profile {
    width: var(--vw-32);
    height: var(--vw-32);
    border-radius: var(--size-50);
    border: 1px solid var(--color-stroke);
}
/*  들어온 업무 요청   */
#receive-job {
    flex:1;
}
section .content-wrap {
    height: 100%;
    padding: var(--vw-32);
    display: flex;
    flex-direction: column;
    gap: var(--vh-24);
}
.content-body {
    height: 100%;
}
.content-body .job-list {
    height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.no-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-self: center;
}
.list-item {
    display: flex;
}
.list-item > .btn {
    width: 100%;
    height: var(--vh-56);
    display: flex;
    align-items: center;
    gap: var(--vw-48);
    border: none;
}
.receiveJob {
    justify-content: flex-start;
}
.empl-info {
    display: flex;
    align-items: center;
    gap: 12px;
}
.empl-info .empl-name {
    font-family: var(--font-b);
    color: var(--color-font-md);
    font-size: var(--font-size-14);
}
.receive-job-detail {
    display: flex;
    gap: var(--vw-24);
    align-items: center;
}
.job-title {
    font-size: var(--font-size-14);
    font-family: var(--font-md);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.receive-job-title {
    width: calc((358/1920)*100vw);
}
.job-date {
    font-size: var(--font-size-11);
    color: var(--color-font-md);
}
.receive-btn {
    width: var(--vw-64);
    height: 28px;
    border-radius: var(--vw-32);
    font-size: var(--font-size-11);
    background: var(--color-white);
}
.jobReject {
    border: 1px solid var(--color-font-md);
    color: var(--color-font-md);
}
.jobAgree {
    border: 1px solid var(--color-main);
    color: var(--color-main);
}
.jobAgree:hover {
    background: var(--color-main);
    color: var(--color-white);
}
.receive-list-item .btn-wrap {
    display: flex;
    gap: 4px;
    align-items: center;
}
.list-item:hover {
    background: var(--color-bg-grey);
}
/*  요청한 업무  */
#request-job {
    width: calc((500/var(--vw))*100vw);
}
#request-job .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#request-job .content-header div {
    display: flex;
    gap: 12px;
    align-items: center;
}
.requestJob {
    align-self: flex-end;
    padding: var(--vh-12);
    font-size: var(--font-size-11);
    background: transparent;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    display: flex;
    gap: 4px;
    align-items: center;
}
.requestJob:hover {
    background: var(--color-main);
    color: white;
}
.requestJob:hover .i-send-blue {
    filter: invert(100%) sepia(97%) saturate(12%) hue-rotate(202deg) brightness(200%) contrast(106%)
}
.requestJobDetail {
    width: 100%;
    text-align: left;
    justify-content: space-between;
}
.request-job-title {
    width: calc((258/var(--vw))*100vw);
}