@import "/resources/css/commonStyle.css";
.alarmWrapper {
    position: fixed;
    right: calc(((344/var(--vw))*100vw)*-1);
    top: 0;
    background: white;
    width: calc((344/var(--vw))*100vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--vh-64);
    z-index: 999;
    padding: calc((96/var(--vh))*100vh) var(--vw-48) 0;
}
.alarmWrapper.on {
    right: 0;
}
.alarmWrapper .service-tab  {
    position: absolute;
    width: 24px;
    height: 48px;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: url("/resources/images/serviceBar.svg") 100% center / cover;
}
.alarmWrapper > section {
    border: 1px solid red;
}
.alarmContainer {
    height: calc((416/var(--vh))*100vh);
    display: flex;
    flex-direction: column;
    gap: var(--vh-24);
}
#alarm-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alarm-title {
    font-size: 14px;
    color: var(--color-font-md);
    font-family: var(--font-md);
}
.setting {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 11px;
    font-family: var(--font-md);
    color: var(--color-font-md);
    padding: 0;
}
.alarm-area {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: calc((336/var(--vh))*100vh);
    overflow-y: auto;
}
#allReadAlarm {
    font-size: 11px;
    font-family: var(--font-md);
    color: var(--color-font-md);
}
.alarmBox {
    width: 100%;
    background: rgba(255,255,255,.2);
    border-radius: 12px;
    border: 1px solid var(--color-stroke);
    position: relative;
    cursor: pointer;
}

.aTag {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: var(--vh-16);
}
.aTag h1 {
    font-size: 14px;
    font-family: var(--font-md);
}
.aTag p {
    font-size: 11px;
    color: var(--color-font-md);
    vertical-align: middle;
    line-height: 1.2;
}
.aTag p span {
    font-size: 11px;
    color: var(--color-font-high);
    vertical-align: baseline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
    font-family: var(--font-sb);
}
.readBtn {
    background: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: var(--vh-16);
    right: var(--vh-16);
    padding: 0;
    font-size: 11px;
    cursor: pointer;
}

.no-memo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc((88/var(--vh))*100vh);
    border-radius: 12px;
    border: 1px dashed var(--color-font-md);
}
#addMemo {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: var(--size-50);
    background: var(--color-font-md);
}
#addMemo::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 24px;
    height: 24px;
    background: url("/resources/images/icon/add-white.svg");
}
.fixed-memo {
    display: flex;
    flex-direction: column;
    gap: var(--);
}